html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    --viewport-height: 100vh;
    background-color:#3C91E6;
    height: var(--viewport-height);
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 6px;
    box-shadow: 10px 20px rgba(0, 0, 0, 0.10);
}
.left-panel{
    display:flex;
    flex-direction: column;
}

img{
    background-color: black;
}
fieldset{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
fieldset > input{
    width: 400px;
}
button[type="submit"]{
    margin: 1rem 0;
    padding: 1rem 3rem;
    border: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
}