@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Prompt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@700&family=Prompt&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    --viewport-height: 100vh;
    background-color:#3C91E6;
    height: var(--viewport-height);
}
.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: 10px 20px rgba(0, 0, 0, 0.10);
}
.left-panel{
    display:flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.right-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div .right-panel{
    padding: 1rem 2rem;
    background-color: #A7E8BD;
}

img{
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: px 4px #CBFAB2;
    background-color: black;
}
form{
    border-radius: 6px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border: 1px solid black;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.10);
}
fieldset{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
fieldset > label{
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
}
fieldset > input{
    border-radius: 6px;
    padding: 10px;
    width: 400px;
    font-size: 16px;
    background-color: #A7E8BD;
}
fieldset > input:focus{
    background-color: white;
}
button[type="submit"]{
    padding: 1rem 3rem;
    border-radius: 6px;
    background-color: #ABFAA9;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #CBFAB2;
    border-radius: 6px;
    transform:scale(1.05);
    transition: all 0.5s ease-in-out;
}

h1{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
}
h2{
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
}
.text-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
}

span{
    font-style: italic;
}
h3{
    font-family: 'Prompt', sans-serif;
}
a{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 4px;
    text-decoration-color: #A7E8BD;
    cursor: pointer;
}
.right-panel > a{
    text-decoration-color: black;
}